div {
  padding: 10px;
  margin-bottom: 5px;
}

.cor-par {
  background-color: lightblue;
}

.cor-impar {
  background-color: lightgray;
}

.primeira {
  font-weight: bold;
  text-decoration: underline;
}

.ultima {
  border: 3px solid black;
}