.produto {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

.vermelho {
  color: red;
  font-weight: bold;
}

.amarelo {
  color: orange;
  font-weight: bold;
}

.verde {
  color: green;
  font-weight: bold;
}

.promocao {
  color: red;
  font-weight: bold;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}